<div class="container mt-3">
  <form class="container-fluid example-form"  [formGroup]="fileForm"  >
  <div class="satFat-logoBody">
    <ngx-file-drop 
      class="ngx-fileDropBody"
      dropZoneClassName="satFat-dropZoneBody imgBorderYes"
      contentClassName="satFat-contentBody"
      (onFileDrop)="dropped($event)" 
      (onFileOver)="fileOver($event)" 
      (onFileLeave)="fileLeave($event)" 
      accept="image/jpeg, image/png">
      
      <ng-template ngx-file-drop-content-tmp let-openFileSelector="openFileSelector">

        <img *ngIf="imageUrl" [src]="imageUrl">

        <div *ngIf="!imageUrl" class="imgNone d-flex flex-column text-center w-100"> 
          <div>Select a Imagen or drag here</div>
          <button  type="button" (click)="openFileSelector(); fileInput.click()"><mat-icon class="btn-backup">backup</mat-icon></button>
          <input hidden  #fileInput type="file" accept="image/*" capture="environment" id="image" name="image" formControlName="image">
        </div>

        <div *ngIf="imageUrl" class="imgYes">
          <button class="yukleBtn" type="button" (click)="openFileSelector()"><i class="fas fa-download"></i></button>
          <button class="silBtn ml-2" (click)="fileRemove()"><i class="fas fa-trash-alt"></i></button>
        </div>
      </ng-template>      
    </ngx-file-drop>
    <div class="upload-table">
      <table class="table">
        <thead>
          <tr>
            <td scope="col-1 row">#</td>
            <th scope="col-10">Name</th>
            <th scope="col-1">Remove</th>
          </tr>
        </thead>
        <tbody class="upload-name-style">
          <tr *ngFor="let item of files; let i = index">
            <td scope="col-1 row">1</td>
            <td scope="col-10">
              <strong >{{ item.relativePath }}</strong>
            </td>
            <td scope="col-1">
              <mat-icon (click)="item.remove()">delete</mat-icon>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <hr>
    <div>      
      <div class="row">
        <div class="col-6">
          <mat-form-field class="example-full-width">
            <mat-label>Location</mat-label>
            <input matInput placeholder="Place" id="location" name="location" formControlName="location">
          </mat-form-field>
        </div>
        <div class="col-6">
          <mat-form-field class="example-full-width">
            <mat-label>Choose a date in the schedule</mat-label>
            <input matInput [matDatepicker]="picker" id="date" name="date" formControlName="date">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>          
        </div>
      </div>
      <div class="row">
        <mat-form-field class="example-full-width">
          <mat-label>Write a caption</mat-label>
          <textarea matInput placeholder="Ex. It makes me feel..." id="caption" name="caption" formControlName="caption"></textarea>
        </mat-form-field>
      </div>
      <div class="float-end">
        <button mat-raised-button color="primary" (click)="resetTheForm()"><mat-icon class="btn-delete">delete</mat-icon></button>      
        <button  mat-button (click)="schedule()"><mat-icon class="btn-send">send</mat-icon></button>
      </div>      
      </div>
    </div>
  </form>
</div>


