<div fxLayout="column" fxLayoutGap="40px">
    <header class="page-header" fxFlex="100px" fxLayout="row">
      <section fxFlex="20%">
        <div>
          <figure class="profile-thumbnail">
            <img class="logo" src="{{ selectedChannel?.user.profile_pic_url }}"/>
            <figcaption class="profile-thumbnail-label">
              <div class="fa-label-content">
                <div>{{ selectedChannel?.user.username }}</div>
              </div>
              <div class="profile-details">
                <div class="profile-details__influencer-level ng-binding">
                  {{ selectedChannel?.user.follower_count }} Followers |
                  {{ selectedChannel?.user.following_count }} Following
                </div>
                <div
                  class="profile-details__business-info ng-binding ng-hide"
                  *ngIf="selectedChannel?.user.is_business"
                >
                  Business Profile
                </div>
              </div>
            </figcaption>
          </figure>
        </div>
      </section>
  
      <nav class="nav navbar-nav navbar-profiles" fxFlex>
        <div class="navbar-profiles-item-wrap">
          <a *ngFor="let channel of channels" (click)="selectChannel(channel)">
            <figure class="profile-thumbnail">
              <div class="profile-thumbnail-avatar">
                <img src="{{ channel.user.profile_pic_url }}" />
              </div>
            </figure>
          </a>
        </div>
      </nav>
    </header>
  
    <div fxFlex fxLayout="row">
      <section fxFlex="500px">
        <div>
          Agendamentos de {{ schedulePeriod?.start_date | date }} até
          {{ schedulePeriod?.end_date | date }}
        </div>
        <table mat-table [dataSource]="schedules" class="mat-elevation-z8">
          <ng-container matColumnDef="type">
            <th mat-header-cell *matHeaderCellDef>Target</th>
            <td mat-cell *matCellDef="let element">{{ element.type }}</td>
          </ng-container>
  
          <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef>status</th>
            <td mat-cell *matCellDef="let element">{{ element.status }}</td>
          </ng-container>
  
          <ng-container matColumnDef="image">
            <th mat-header-cell *matHeaderCellDef>image</th>
            <td mat-cell *matCellDef="let element">
              <img src="{{ element.image.url }}" width="40px" />
            </td>
          </ng-container>
  
          <ng-container matColumnDef="channel">
            <th mat-header-cell *matHeaderCellDef>channel</th>
            <td mat-cell *matCellDef="let element">
              {{ element.channel.username }}
            </td>
          </ng-container>
  
          <ng-container matColumnDef="date">
            <th mat-header-cell *matHeaderCellDef>date</th>
            <td mat-cell *matCellDef="let element">{{ element.date | date }}</td>
          </ng-container>
  
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>
      </section>
  
      <section fxFlex>
        <button mat-button (click)="schedule()">Agendar</button>
        <mat-tab-group (selectedTabChange)="changeTab($event)">
          <mat-tab label="Novo post">
            <div class="center">
              <ngx-file-drop
                dropZoneLabel="Drop files here"
                (onFileDrop)="dropped($event)"
                (onFileOver)="fileOver($event)"
                (onFileLeave)="fileLeave($event)"
              >
                <ng-template
                  ngx-file-drop-content-tmp
                  let-openFileSelector="openFileSelector"
                >
                  Imagem
                  <button type="button" (click)="openFileSelector()">
                    Browse Files
                  </button>
                </ng-template>
              </ngx-file-drop>
              <div class="upload-table">
                <table class="table">
                  <thead>
                    <tr>
                      <th>Name</th>
                    </tr>
                  </thead>
                  <tbody class="upload-name-style">
                    <tr *ngFor="let item of files; let i = index">
                      <td>
                        <strong>{{ item.relativePath }}</strong>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </mat-tab>
          <mat-tab label="Novo Story">
            <div class="center">
              <ngx-file-drop
                dropZoneLabel="Drop files here"
                (onFileDrop)="dropped($event)"
                (onFileOver)="fileOver($event)"
                (onFileLeave)="fileLeave($event)"
              >
                <ng-template
                  ngx-file-drop-content-tmp
                  let-openFileSelector="openFileSelector"
                >
                  Imagem
                  <button type="button" (click)="openFileSelector()">
                    Browse Files
                  </button>
                </ng-template>
              </ngx-file-drop>
              <div class="upload-table">
                <table class="table">
                  <thead>
                    <tr>
                      <th>Name</th>
                    </tr>
                  </thead>
                  <tbody class="upload-name-style">
                    <tr *ngFor="let item of files; let i = index">
                      <td>
                        <strong>{{ item.relativePath }}</strong>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </mat-tab>
        </mat-tab-group>
      </section>
    </div>
  </div>