<app-header></app-header>

<div class="container">
  <div fxLayout="column">
      <div fxFlex fxLayout="row">
        <section fxFlex="50">

          <app-table-schedule [schedules]="dataService.schedules"></app-table-schedule>
        </section>    
        <section fxFlex>
          <mat-tab-group (selectedTabChange)="changeTab($event)">
            <mat-tab label="Novo post">
              <app-fileupload></app-fileupload>
            </mat-tab>
            <mat-tab label="Novo Story">
              <app-fileupload></app-fileupload>
            </mat-tab>
          </mat-tab-group>
        </section>
      </div>
  </div>

</div>